{% extends "base.html" %}
{% block title %}Quant{% endblock %} 
{% block css %}
<link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block content %}

<!-- CSS  -->
 
<!-- HTML -->
{% if current_user.role == "admin" %}
<center>
	<h3>Загрузить новое видео(только mp4)</h3>
	<form сlass="form-inline" style="width: 50%;" action="/upload_video" method=post enctype=multipart/form-data>
		<div class="form-group">
			<input style="margin-top: 6px;" class="form-control input-sm" type=file name=file>
			<input style="margin-top: 6px;" class="btn btn-success btn-sm" type=submit value=Загрузить>
		</div>
	</form>
</center>
{% endif %}

<ul class="pagelist">
	{% for i in range(1, n_pages+1) %}
		<li><a href="{{url_for('videos', page=i)}}", >
			{% if i == current_page %}
			<b>{{i}}</b>
			{% else %}
			{{i}}
			{% endif %}
			</a>
		</li>
	{% endfor %}
	</ul>

<center>
	{% for video in videos %}

	{% if not video[-2] in ["new", "in_progress"]%}
		{% if current_user.role == "admin" %}
			<form style="display: inline;" class="form-group" action="{{url_for('del_video')}}" method="POST">
				<button name="_id" value="{{ video[-1] }}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
			</form>
			<h4 style="display: inline;">{{video[0]}}</h4>
		{% else %}
			<h4>{{video[0]}}</h4>
		{% endif %}
		<video id='video{{video[-1]}}' class="video-js vjs-default-skin" width="400%" height="200%" controls>
		</video>
	{% else %}
		<h4>{{video[0]}} {% if video[-2]=="in_progress" %}(Обрабатывается){% else %}(В очереди на обработку){% endif %}</h4>
	{% endif %}
	{% endfor %}
</center>

<ul class="pagelist">
	{% for i in range(1, n_pages+1) %}
		<li><a href="{{url_for('videos', page=i)}}", >
			{% if i == current_page %}
			<b>{{i}}</b>
			{% else %}
			{{i}}
			{% endif %}
			</a>
		</li>
	{% endfor %}
	</ul>

<!-- JS  -->
<script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
<script>
{% for video in videos %}
{% if not video[-2] in ["new", "in_progress"]%}
	var player{{video[-1]}} = videojs("video{{video[-1]}}");
	player{{video[-1]}}.src(
	    { type: "application/x-mpegURL", src: "{{video[3]+"/"+video[0]+'.m3u8'}}" },
	);
{% endif %}
{% endfor %}

</script>

{% endblock %}